<div class="card">
    <div class="card-block">
      <div class="d-flex flex-row justify-content-center ">
              <i
              (click)="previous()"  
              class="
                pagination-arrow
                icon-arrow-left-circle icons font-5xl m-t-2 p-2 align-self-center"></i>

              <h4 class="p-2 align-self-center">{{ title }}</h4>
              
              <i
              (click)="next()" 
              class="
                pagination-arrow
                icon-arrow-right-circle icons font-5xl m-t-2 p-2 align-self-center"></i>
      </div>
  </div>
</div>
  