<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <app-pagination 
        *ngIf=workout
        [progression]="workout.progression"
      >
      </app-pagination>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      
      <app-exercise 
        *ngIf=workout 
        [name]="workout.progression[0].name" 
        [exercises]="workout.progression[0].exercises" 
        [minReps]="workout.minReps" 
        [maxReps]="workout.maxReps"
      >
      </app-exercise>
      
    </div>
  </div>
</div>
